---
interface Props {
    service: Service;
}

import type { Service } from "src/pages/index.astro";
import { ServiceRulesDialog, ServiceHeader, ServiceTag } from "./service-rules-dialog.tsx";
import { Card } from "../ui/card";
import ExporterRules from './ExporterRules.astro'

const { service } = Astro.props;
---
<Card
    key={service.name}
    data-service-name={service.name}
    className="px-6 py-8 grid grid-rows-subgrid gap-3 row-span-3"
>
    <!-- Header -->
    <div class="row-start-1 row-end-2">
        <ServiceHeader service={service} client:only />
    </div>
    <!-- Rules -->
    <div class="row-start-2 row-end-3 text-ellipsis line-clamp-3">
        <ServiceTag service={service} />
        <p class="inline">
            {
                service.exporters.map((exp) => {
                    return exp.rules?.map((rule) => rule.name).join(", ");
                })
            }
        </p>
    </div>

    <!-- Astro integration glitching?? -->
    <div class="row-start-3 row-end-4">
        <ServiceRulesDialog service={service} client:load >
            <!-- Prerendered Astro content, prevents having to get a code-highlighter on runtime -->
            <ExporterRules exporters={service.exporters} />
        </ServiceRulesDialog>
    </div>
</Card>
