---
import "../base.css";
import json from "data/rules.json";
import Header from "src/components/Header.astro";
import ServiceCard from "src/components/service/ServiceCard.astro";
import {Icon} from "astro-icon/components";

// Types inferred from JSON
export type RuleSet = typeof json;
export type Group = RuleSet["groups"][number]
export type Service = Group["services"][number];
export type Exporter = Service['exporters'][number]
export type Rule = NonNullable<Exporter['rules']>[number]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="src/icons/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Inter -->
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<!-- Jetbrains Mono? -->
		<!-- Use BunnyCDN instead? -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap"
			rel="stylesheet"
		/>

		<title>Awesome Prometheus Toolkit</title>
	</head>
	<body>
		<Header />
		<main class="mx-auto max-w-6xl px-4 my-8">
			<h1>Browse Library</h1>
			<!-- Search input -->
			<div class="input flex items-center gap-2 mb-8">
				<Icon name="ph:magnifying-glass" />
				<input
					id="component-search"
					type="search"
					placeholder="Search for a component"
					class="flex-grow"
				/>
			</div>

			<!-- Groups -->
			{
				json.groups.map((group) => {
					return (
						<section [data-group-name]={group.name} class="mb-16" >
							<h2>{group.name}</h2>
							{/* Card grid */}
							<div class="grid grid-dynamic-base gap-6">
								{group.services.map((service) => {
									return (
										<ServiceCard service={service}/>
									);
								})}
							</div>
						</section>
					);
				})
			}
		</main>
		<!-- Footer -->
		<footer class="p-8 border-t">
			<section class="max-w-6xl mx-auto">
				<p>
					Built with Astro. <a
						href="https://samber.github.io/awesome-prometheus-alerts/"
						>Original by samber.</a
					>.
				</p>
			</section>
		</footer>
	</body>
</html>
